/*naviagation sector*/


.navbar-brand{color: white;}

.nav-link{color: white;}








/*About sector*/

.ac{

	text-align: center;

	padding-top: 2%;
}

.ah5{font-family: 'Unbounded', cursive;}

.ap{font-family: 'Work Sans', sans-serif;}












/*Tutorial sector*/

.ts{

	padding-top: 5%;
}


.ts2{

   padding-top: 5%;

}



.it{float: left;}


.it2{float: right;}


.tp{

  padding-top: 7%;

padding-left: 26%;
 
 font-family: 'Work Sans', sans-serif;

}


.tp2{

   padding-top: 7%;

   padding-left: 43%;
 
  font-family: 'Work Sans', sans-serif;


}



/*Download Sector*/

.DS{text-align: center;}

.ah5s{

font-family: 'Unbounded', cursive;

padding-top: 7%;

}

.as{padding-top: 5%}